article.goal-item {
    display: flex;
    flex-direction: column;
}

article > p {
    margin: 0;
}

article > p:first-child {
    display: flex;
    align-items: center;
    min-height: 4em;
    padding: 0.5em;
    border-bottom: 1px solid #D6E0E8;
    background-color: #D6E0E8;
}

article > p > label {
    flex: 1;
}

.items {
    overflow:hidden;
    transition:height 0.3s ease-out;
    height:0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1em;
}

.items > li {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.items > li > label {
    margin-left: 1em;
}

.closed {
    max-height: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.task-status {
    cursor: pointer;
}
