fieldset {
    display: flex;
    align-items: center;
    border: none;
    background-color: #2A5D86;
    height: 5em;
    max-height: 5em;
    margin: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

fieldset > span {
    display: flex;
}

.input-search {
    min-width: 2em;
    width: 100%;
    margin-right: 1.5em;
    height: 2em;
    background-color: #EFEFEF;
    border: 0px solid;
    padding: 4px;
}

.add-button {
    cursor: pointer;
}

